.home{
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 100vh;
}
.headerHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
}
.contFiltros{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    align-items: center;
}
.contlibros{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    background-color: rgb(255, 252, 247);
    overflow-y: scroll;
    width: 100%;
    align-items: center;
} 